.header {
    position: fixed;
    top: 0;           
    left: 0;            
    width: 100%;    
    height: 130px;
  background: linear-gradient(to right, #26294C, #591335, #E3916B);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 0 20px; 
    box-shadow: 0 0 10px #222;
}

.logo-container {
    height: 180;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-logo {
    height: 300px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.header-labels {
    display: flex;
    gap: 20px;
    margin-right: 30px; 
}


.header-label {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 10px;
}

.header-label:hover {
    color: #FEF3CE;
    cursor: pointer;
}

.header-label.active {
  color: #FEF3CE;
  border-bottom: 2px solid #FEF3CE;
}