.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #222;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}

.logo-container {
    height: 180;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.header-logo {
    height: 300px;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.header-labels {
    display: flex;
    gap: 20px;
    margin-right: 30px; 
}


.header-label {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 5px 10px;
}

.header-label:hover {
    color: #FEF3CE;
    cursor: pointer;
}