body {
  margin: 0;
  background: #222;
  font-family: system-ui;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* apila header + contenido */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}